---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getLaunchBy, getLaunches } from "../../services/spacex";
const { id } = Astro.params;
export const prerender = false;
let launch;
if (id) {
  launch = await getLaunchBy({ id });
}
export async function getStaticPaths() {
  const launches = await getLaunches();

  return launches.map((launch) => ({
    params: {
      id: launch.id,
    },
  }));
}
---

<Layout title={`Lanzamiento ${id}`}>
  <article class="flex gap-y-4 flex-col p-5">
    <img
      src={launch?.links.patch.small}
      alt={launch?.name}
      class="w-52 h-auto"
    />
    <h2 class="text-4xl text-white font-black">
      Launch #{launch?.flight_number}
    </h2>
    <p class="text-lg text-stone-300">
      {launch?.details}
    </p>
  </article>
</Layout>
